body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    margin-top: 50px;
}

.titulo {
    font-size: 24px;
}

.instrucciones {
    margin-top: 20px;
    margin-bottom: 20px;
}

button {
    background-color: #1E90FF;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #4169E1;
}
